*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
a,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
table {
  border-spacing: 0;
}
body {
  font-family: 'Architects Daughter', cursive;
  font-size: 26px;
  color: #fff;
}
.container {
  margin: 0 auto;
  padding: 5px;
  width: 90%;
  max-width: 1500px;
}







